.App {
  text-align: center;
}



.App-header {
  margin-top: -9px;
  background-color: sandybrown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  color: #61dafb;
}

@font-face {
   font-family: adventure;
}

h1 {
  font-family: advnture;
  padding: 25px;
  margin: 0px;
  background-color: #282c34;
  font-family: advnture;
  font-size: calc(46px + 2vmin);
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  color: turquoise;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

p {
  font-family: adventure;
  font-weight: normal;
  font-style: italic;
  color: #cfd4fb;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

button {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.loginpage0{
    display: none;
}
.loginpage1{
      text-align: center;
}



.loggedinpage0{
  display: none;
}
.loggedinpage1{
    text-align: center;
}



.prizedrawpage0{
  display: none;
}
.prizedrawpage1{
    text-align: center;
}



.container{
  position: relative;
  width: 65%;
  max-width: 55vw;
  background: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

